In [164]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [16]:
youtube_df = pd.read_csv('Global_YouTube_Statistics.csv')

In [20]:
pd.set_option('display.max_columns', None)

# Cleaning Data

In [22]:
youtube_df.columns = youtube_df.columns.str.lower().str.replace(' ', '_')

#Changing the names of columns

In [24]:
youtube_df

,rank,youtuber,subscribers,video_views,category,title,uploads,country,abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,gross_tertiary_education_enrollment_(%),population,unemployment_rate,urban_population,latitude,longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,1.0,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670.0,7423.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1.0,1.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2.0,1.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,2.0,2.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,525.0,55.0,172.0,5.525130e+08,138100.0,2200000.00,1700000.00,2.650000e+07,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,6141.0,125.0,69.0,6.473500e+07,16200.0,258900.00,194200.00,3.100000e+06,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,129005.0,867.0,1202.0,6.703500e+04,17.0,268.00,201.00,3.200000e+03,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,35112.0,4.0,69.0,3.871000e+06,968.0,15500.00,11600.00,1.858000e+05,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,4568.0,125.0,44.0,2.400000e+07,6000.0,96000.00,72000.00,1.200000e+06,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [28]:
youtube_df["youtuber"].isna().sum()

#Checking null-values in column "youtuber"

0

In [30]:
youtube_df["country"].isna().sum()

#Checking null-values in column "country"

122

In [98]:
youtube_df.loc[youtube_df["country"].isna()]

#Checking null-values in column "country"

,rank,youtuber,subscribers,video_views,category,title,uploads,country,abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,gross_tertiary_education_enrollment_(%),population,unemployment_rate,urban_population,latitude,longitude
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,4057944.0,NaN,NaN,NaN,0.00,0.00,0.00,0.00,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Gaming,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,4057944.0,NaN,1.0,NaN,0.00,0.00,0.00,0.00,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Goldmines,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,4056562.0,NaN,5663.0,18.0,0.00,0.07,0.05,0.86,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
38,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,3.231243e+10,Music,LooLoo Kids - Nursery Rhymes and Children's ï¿½,11,NaN,NaN,NaN,3800129.0,NaN,NaN,159.0,0.04,0.64,0.48,8.00,NaN,2016.0,Nov,29.0,NaN,NaN,NaN,NaN,NaN,NaN
48,49,Badabun,46800000,1.939805e+10,Entertainment,badabun,1,NaN,NaN,Music,4047729.0,NaN,5525.0,440.0,0.11,2.00,1.00,21.00,75.0,2007.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,Troom Troom PT,12500000,4.384178e+09,Howto & Style,Troom Troom PT,2738,NaN,NaN,Howto,1667.0,NaN,37.0,13501000.0,3400.00,54000.00,40500.00,648100.00,NaN,2015.0,Apr,19.0,NaN,NaN,NaN,NaN,NaN,NaN
967,968,Troom Troom Indonesia,12500000,5.379684e+09,People & Blogs,TROOM TROOM INDONESIA,8,NaN,NaN,People,4057418.0,NaN,7712.0,1.0,0.00,0.00,0.00,0.05,NaN,2020.0,Jul,29.0,NaN,NaN,NaN,NaN,NaN,NaN
972,973,Hero Movies 2023,12400000,1.689091e+09,People & Blogs,Hero Movies 2023,689,NaN,NaN,People,6116.0,NaN,63.0,21837000.0,5500.00,87300.00,65500.00,1000000.00,NaN,2017.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN
985,986,TKOR,12400000,3.392023e+09,Education,TKoR,0,NaN,NaN,People,4057944.0,NaN,7741.0,NaN,0.00,0.00,0.00,0.00,NaN,2006.0,Aug,16.0,NaN,NaN,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,1.395959e+10,People & Blogs,annakova,1,NaN,NaN,Film,4049634.0,NaN,5307.0,2.0,0.00,0.01,0.01,0.10,NaN,2006.0,Jun,18.0,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
youtube_df["category"].isna().sum()

#Checking null-values in column "country"

46

# Creating new dataframes

## New table "country"

In [232]:
country_df = youtube_df[['country', 'abbreviation', 
                         'gross_tertiary_education_enrollment_(%)', 'population', 
                         'unemployment_rate', 'urban_population', 'latitude', 'longitude']].drop_duplicates().reset_index(drop=True)
country_df

,country,abbreviation,gross_tertiary_education_enrollment_(%),population,unemployment_rate,urban_population,latitude,longitude
0,India,IN,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,United States,US,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Japan,JP,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
4,Russia,RU,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
5,South Korea,KR,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
6,United Kingdom,GB,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
7,Canada,CA,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771
8,Brazil,BR,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
9,Argentina,AR,90.0,4.493871e+07,9.79,41339571.0,-38.416097,-63.616672
10,Chile,CL,88.5,1.895204e+07,7.09,16610135.0,-35.675147,-71.542969
11,Cuba,CU,41.4,1.133348e+07,1.64,8739135.0,21.521757,-77.781167
12,El Salvador,SV,29.4,6.453553e+06,4.11,4694702.0,13.794185,-88.896530
13,Pakistan,PK,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
14,Philippines,PH,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
15,Thailand,TH,49.3,6.962558e+07,0.75,35294600.0,15.870032,100.992541
16,Colombia,CO,55.3,5.033944e+07,9.71,40827302.0,4.570868,-74.297333
17,Barbados,BB,65.4,2.870250e+05,10.33,89431.0,13.193887,-59.543198
18,Mexico,MX,40.2,1.260140e+08,3.42,102626859.0,23.634501,-102.552784
19,United Arab Emirates,AE,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
20,Spain,ES,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
21,Saudi Arabia,SA,68.0,3.426853e+07,5.93,28807838.0,23.885942,45.079162
22,Indonesia,ID,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
23,Turkey,TR,23.9,8.342962e+07,13.49,63097818.0,38.963745,35.243322
24,Venezuela,VE,79.3,2.851583e+07,8.80,25162368.0,6.423750,-66.589730
25,Kuwait,KW,54.4,4.207083e+06,2.18,4207083.0,29.311660,47.481766
26,Jordan,JO,34.4,1.010169e+07,14.72,9213048.0,30.585164,36.238414
27,Netherlands,NL,85.0,1.733285e+07,3.20,15924729.0,52.132633,5.291266
28,Singapore,SG,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
29,Australia,AU,113.1,2.576660e+07,5.27,21844756.0,-25.274398,133.775136
30,Italy,IT,61.9,6.029740e+07,9.89,42651966.0,41.871940,12.567380
31,Germany,DE,70.2,8.313280e+07,3.04,64324835.0,51.165691,10.451526
32,France,FR,65.6,6.705989e+07,8.43,54123364.0,46.227638,2.213749
33,Sweden,SE,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
34,Afghanistan,AF,9.7,3.804175e+07,11.12,9797273.0,33.939110,67.709953
35,Ukraine,UA,82.7,4.438516e+07,8.88,30835699.0,48.379433,31.165580
36,Latvia,LV,88.1,1.912789e+06,6.52,1304943.0,56.879635,24.603189
37,Switzerland,CH,59.6,8.574832e+06,4.58,6332428.0,46.818188,8.227512
38,Vietnam,VN,28.5,9.646211e+07,2.01,35332140.0,14.058324,108.277199
39,Malaysia,MY,45.1,3.244738e+07,3.32,24475766.0,4.210484,101.975766
40,China,CN,50.6,1.397715e+09,4.32,842933962.0,35.861660,104.195397
41,Iraq,IQ,16.2,3.930978e+07,12.82,27783368.0,33.223191,43.679291
42,Egypt,EG,35.2,1.003881e+08,10.76,42895824.0,26.820553,30.802498
43,Andorra,AD,NaN,NaN,NaN,NaN,NaN,NaN
44,Ecuador,EC,44.9,1.737366e+07,3.97,11116711.0,-1.831239,-78.183406
45,Morocco,MA,35.9,3.691056e+07,9.02,22975026.0,31.791702,-7.092620
46,Peru,PE,70.7,3.251045e+07,3.31,25390339.0,-9.189967,-75.015152
47,Bangladesh,BD,20.6,1.673108e+08,4.19,60987417.0,23.684994,90.356331
48,Finland,FI,88.2,5.520314e+06,6.59,4716888.0,61.924110,25.748151
49,Samoa,WS,7.6,2.025060e+05,8.36,35588.0,-13.759029,-172.104629

In [234]:
country_df.dropna(axis=0, inplace = True, how='all')

#Deleting rows with null-values

In [240]:
country_df.reset_index(drop=True, inplace=True)

#Reseting index

In [220]:
# country_df.index.names = ['country_id']

In [242]:
country_df

,country,abbreviation,gross_tertiary_education_enrollment_(%),population,unemployment_rate,urban_population,latitude,longitude
0,India,IN,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,United States,US,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,Japan,JP,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
3,Russia,RU,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
4,South Korea,KR,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
5,United Kingdom,GB,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
6,Canada,CA,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771
7,Brazil,BR,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
8,Argentina,AR,90.0,4.493871e+07,9.79,41339571.0,-38.416097,-63.616672
9,Chile,CL,88.5,1.895204e+07,7.09,16610135.0,-35.675147,-71.542969
10,Cuba,CU,41.4,1.133348e+07,1.64,8739135.0,21.521757,-77.781167
11,El Salvador,SV,29.4,6.453553e+06,4.11,4694702.0,13.794185,-88.896530
12,Pakistan,PK,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
13,Philippines,PH,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
14,Thailand,TH,49.3,6.962558e+07,0.75,35294600.0,15.870032,100.992541
15,Colombia,CO,55.3,5.033944e+07,9.71,40827302.0,4.570868,-74.297333
16,Barbados,BB,65.4,2.870250e+05,10.33,89431.0,13.193887,-59.543198
17,Mexico,MX,40.2,1.260140e+08,3.42,102626859.0,23.634501,-102.552784
18,United Arab Emirates,AE,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
19,Spain,ES,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
20,Saudi Arabia,SA,68.0,3.426853e+07,5.93,28807838.0,23.885942,45.079162
21,Indonesia,ID,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
22,Turkey,TR,23.9,8.342962e+07,13.49,63097818.0,38.963745,35.243322
23,Venezuela,VE,79.3,2.851583e+07,8.80,25162368.0,6.423750,-66.589730
24,Kuwait,KW,54.4,4.207083e+06,2.18,4207083.0,29.311660,47.481766
25,Jordan,JO,34.4,1.010169e+07,14.72,9213048.0,30.585164,36.238414
26,Netherlands,NL,85.0,1.733285e+07,3.20,15924729.0,52.132633,5.291266
27,Singapore,SG,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
28,Australia,AU,113.1,2.576660e+07,5.27,21844756.0,-25.274398,133.775136
29,Italy,IT,61.9,6.029740e+07,9.89,42651966.0,41.871940,12.567380
30,Germany,DE,70.2,8.313280e+07,3.04,64324835.0,51.165691,10.451526
31,France,FR,65.6,6.705989e+07,8.43,54123364.0,46.227638,2.213749
32,Sweden,SE,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
33,Afghanistan,AF,9.7,3.804175e+07,11.12,9797273.0,33.939110,67.709953
34,Ukraine,UA,82.7,4.438516e+07,8.88,30835699.0,48.379433,31.165580
35,Latvia,LV,88.1,1.912789e+06,6.52,1304943.0,56.879635,24.603189
36,Switzerland,CH,59.6,8.574832e+06,4.58,6332428.0,46.818188,8.227512
37,Vietnam,VN,28.5,9.646211e+07,2.01,35332140.0,14.058324,108.277199
38,Malaysia,MY,45.1,3.244738e+07,3.32,24475766.0,4.210484,101.975766
39,China,CN,50.6,1.397715e+09,4.32,842933962.0,35.861660,104.195397
40,Iraq,IQ,16.2,3.930978e+07,12.82,27783368.0,33.223191,43.679291
41,Egypt,EG,35.2,1.003881e+08,10.76,42895824.0,26.820553,30.802498
42,Andorra,AD,NaN,NaN,NaN,NaN,NaN,NaN
43,Ecuador,EC,44.9,1.737366e+07,3.97,11116711.0,-1.831239,-78.183406
44,Morocco,MA,35.9,3.691056e+07,9.02,22975026.0,31.791702,-7.092620
45,Peru,PE,70.7,3.251045e+07,3.31,25390339.0,-9.189967,-75.015152
46,Bangladesh,BD,20.6,1.673108e+08,4.19,60987417.0,23.684994,90.356331
47,Finland,FI,88.2,5.520314e+06,6.59,4716888.0,61.924110,25.748151
48,Samoa,WS,7.6,2.025060e+05,8.36,35588.0,-13.759029,-172.104629

In [279]:
country_df.index = np.arange(1, len(country_df)+1)

In [281]:
country_df.index.names = ['country_id']

In [283]:
country_df

,country,abbreviation,gross_tertiary_education_enrollment_(%),population,unemployment_rate,urban_population,latitude,longitude
country_id,,,,,,,,
1,India,IN,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,United States,US,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,Japan,JP,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
4,Russia,RU,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
5,South Korea,KR,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
6,United Kingdom,GB,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
7,Canada,CA,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771
8,Brazil,BR,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
9,Argentina,AR,90.0,4.493871e+07,9.79,41339571.0,-38.416097,-63.616672
10,Chile,CL,88.5,1.895204e+07,7.09,16610135.0,-35.675147,-71.542969
11,Cuba,CU,41.4,1.133348e+07,1.64,8739135.0,21.521757,-77.781167
12,El Salvador,SV,29.4,6.453553e+06,4.11,4694702.0,13.794185,-88.896530
13,Pakistan,PK,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
14,Philippines,PH,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
15,Thailand,TH,49.3,6.962558e+07,0.75,35294600.0,15.870032,100.992541
16,Colombia,CO,55.3,5.033944e+07,9.71,40827302.0,4.570868,-74.297333
17,Barbados,BB,65.4,2.870250e+05,10.33,89431.0,13.193887,-59.543198
18,Mexico,MX,40.2,1.260140e+08,3.42,102626859.0,23.634501,-102.552784
19,United Arab Emirates,AE,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
20,Spain,ES,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
21,Saudi Arabia,SA,68.0,3.426853e+07,5.93,28807838.0,23.885942,45.079162
22,Indonesia,ID,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
23,Turkey,TR,23.9,8.342962e+07,13.49,63097818.0,38.963745,35.243322
24,Venezuela,VE,79.3,2.851583e+07,8.80,25162368.0,6.423750,-66.589730
25,Kuwait,KW,54.4,4.207083e+06,2.18,4207083.0,29.311660,47.481766
26,Jordan,JO,34.4,1.010169e+07,14.72,9213048.0,30.585164,36.238414
27,Netherlands,NL,85.0,1.733285e+07,3.20,15924729.0,52.132633,5.291266
28,Singapore,SG,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
29,Australia,AU,113.1,2.576660e+07,5.27,21844756.0,-25.274398,133.775136
30,Italy,IT,61.9,6.029740e+07,9.89,42651966.0,41.871940,12.567380
31,Germany,DE,70.2,8.313280e+07,3.04,64324835.0,51.165691,10.451526
32,France,FR,65.6,6.705989e+07,8.43,54123364.0,46.227638,2.213749
33,Sweden,SE,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
34,Afghanistan,AF,9.7,3.804175e+07,11.12,9797273.0,33.939110,67.709953
35,Ukraine,UA,82.7,4.438516e+07,8.88,30835699.0,48.379433,31.165580
36,Latvia,LV,88.1,1.912789e+06,6.52,1304943.0,56.879635,24.603189
37,Switzerland,CH,59.6,8.574832e+06,4.58,6332428.0,46.818188,8.227512
38,Vietnam,VN,28.5,9.646211e+07,2.01,35332140.0,14.058324,108.277199
39,Malaysia,MY,45.1,3.244738e+07,3.32,24475766.0,4.210484,101.975766
40,China,CN,50.6,1.397715e+09,4.32,842933962.0,35.861660,104.195397
41,Iraq,IQ,16.2,3.930978e+07,12.82,27783368.0,33.223191,43.679291
42,Egypt,EG,35.2,1.003881e+08,10.76,42895824.0,26.820553,30.802498
43,Andorra,AD,NaN,NaN,NaN,NaN,NaN,NaN
44,Ecuador,EC,44.9,1.737366e+07,3.97,11116711.0,-1.831239,-78.183406
45,Morocco,MA,35.9,3.691056e+07,9.02,22975026.0,31.791702,-7.092620
46,Peru,PE,70.7,3.251045e+07,3.31,25390339.0,-9.189967,-75.015152
47,Bangladesh,BD,20.6,1.673108e+08,4.19,60987417.0,23.684994,90.356331
48,Finland,FI,88.2,5.520314e+06,6.59,4716888.0,61.924110,25.748151
49,Samoa,WS,7.6,2.025060e+05,8.36,35588.0,-13.759029,-172.104629

In [313]:
country_df.to_excel("countries.xlsx")

In [331]:
country_df.to_csv("countries.csv")

## New table "category"

In [287]:
category_df = youtube_df.groupby('category')[["subscribers", "video_views"]].sum()

In [289]:
category_df

                       subscribers   video_views
category
Autos & Vehicles          35700000  1.500346e+10
Comedy                  1388500000  5.501128e+11
Education               1194400000  6.966145e+11
Entertainment           5158200000  2.527739e+12
Film & Animation        1314900000  5.444225e+11
Gaming                  1960100000  7.176389e+11
Howto & Style            775600000  2.018175e+11
Movies                    51300000  1.538326e+10
Music                   5195000000  3.121478e+12
News & Politics          536400000  2.703919e+11
Nonprofits & Activism     55500000  1.086291e+10
People & Blogs          2779400000  1.265791e+12
Pets & Animals            72400000  4.486675e+10
Science & Technology     316500000  6.697675e+10
Shows                    541000000  4.462068e+11
Sports                   298200000  1.479863e+11
Trailers                  78000000  3.326272e+10
Travel & Events           12500000  3.140883e+09

In [295]:
category_df.reset_index(inplace=True)

In [297]:
category_df

                 category  subscribers   video_views
0        Autos & Vehicles     35700000  1.500346e+10
1                  Comedy   1388500000  5.501128e+11
2               Education   1194400000  6.966145e+11
3           Entertainment   5158200000  2.527739e+12
4        Film & Animation   1314900000  5.444225e+11
5                  Gaming   1960100000  7.176389e+11
6           Howto & Style    775600000  2.018175e+11
7                  Movies     51300000  1.538326e+10
8                   Music   5195000000  3.121478e+12
9         News & Politics    536400000  2.703919e+11
10  Nonprofits & Activism     55500000  1.086291e+10
11         People & Blogs   2779400000  1.265791e+12
12         Pets & Animals     72400000  4.486675e+10
13   Science & Technology    316500000  6.697675e+10
14                  Shows    541000000  4.462068e+11
15                 Sports    298200000  1.479863e+11
16               Trailers     78000000  3.326272e+10
17        Travel & Events     12500000  3.140883e+09

In [299]:
category_df.index = np.arange(1, len(category_df)+1)

In [301]:
category_df

                 category  subscribers   video_views
1        Autos & Vehicles     35700000  1.500346e+10
2                  Comedy   1388500000  5.501128e+11
3               Education   1194400000  6.966145e+11
4           Entertainment   5158200000  2.527739e+12
5        Film & Animation   1314900000  5.444225e+11
6                  Gaming   1960100000  7.176389e+11
7           Howto & Style    775600000  2.018175e+11
8                  Movies     51300000  1.538326e+10
9                   Music   5195000000  3.121478e+12
10        News & Politics    536400000  2.703919e+11
11  Nonprofits & Activism     55500000  1.086291e+10
12         People & Blogs   2779400000  1.265791e+12
13         Pets & Animals     72400000  4.486675e+10
14   Science & Technology    316500000  6.697675e+10
15                  Shows    541000000  4.462068e+11
16                 Sports    298200000  1.479863e+11
17               Trailers     78000000  3.326272e+10
18        Travel & Events     12500000  3.140883e+09

In [303]:
category_df.index.names = ['category_id']

In [305]:
category_df

                          category  subscribers   video_views
category_id
1                 Autos & Vehicles     35700000  1.500346e+10
2                           Comedy   1388500000  5.501128e+11
3                        Education   1194400000  6.966145e+11
4                    Entertainment   5158200000  2.527739e+12
5                 Film & Animation   1314900000  5.444225e+11
6                           Gaming   1960100000  7.176389e+11
7                    Howto & Style    775600000  2.018175e+11
8                           Movies     51300000  1.538326e+10
9                            Music   5195000000  3.121478e+12
10                 News & Politics    536400000  2.703919e+11
11           Nonprofits & Activism     55500000  1.086291e+10
12                  People & Blogs   2779400000  1.265791e+12
13                  Pets & Animals     72400000  4.486675e+10
14            Science & Technology    316500000  6.697675e+10
15                           Shows    541000000  4.462068e+11
16                          Sports    298200000  1.479863e+11
17                        Trailers     78000000  3.326272e+10
18                 Travel & Events     12500000  3.140883e+09

In [309]:
category_df['popularity_rating'] = category_df['video_views']/category_df['subscribers']

In [321]:
category_df['popularity_rating'] = category_df['popularity_rating'].round(2)

In [323]:
category_df

,category,subscribers,video_views,popularity_rating
category_id,,,,
1,Autos & Vehicles,35700000,1.500346e+10,420.26
2,Comedy,1388500000,5.501128e+11,396.19
3,Education,1194400000,6.966145e+11,583.23
4,Entertainment,5158200000,2.527739e+12,490.04
5,Film & Animation,1314900000,5.444225e+11,414.04
6,Gaming,1960100000,7.176389e+11,366.12
7,Howto & Style,775600000,2.018175e+11,260.21
8,Movies,51300000,1.538326e+10,299.87
9,Music,5195000000,3.121478e+12,600.86
10,News & Politics,536400000,2.703919e+11,504.09
11,Nonprofits & Activism,55500000,1.086291e+10,195.73
12,People & Blogs,2779400000,1.265791e+12,455.42
13,Pets & Animals,72400000,4.486675e+10,619.71
14,Science & Technology,316500000,6.697675e+10,211.62
15,Shows,541000000,4.462068e+11,824.78
16,Sports,298200000,1.479863e+11,496.27
17,Trailers,78000000,3.326272e+10,426.45
18,Travel & Events,12500000,3.140883e+09,251.27

In [325]:
category_df.to_excel("categories.xlsx")

In [327]:
category_df.to_csv("categories.csv")

In [ ]:
# import mysql.connector

# db = mysql.connector.connect(user='root',
#                               password='Qwerty123',
#                               host='127.0.0.1',
#                               database='youtube_db')

# c

# sql = '''
#         CREATE TABLE `tb_userss` (
#             `product_id` INT NOT NULL AUTO_INCREMENT,
#             `description` VARCHAR(255), 
#             {}
#             PRIMARY KEY(`product_id`));
#         '''.

# with db.cursor(buffered=True, dictionary=True) as c: 
#     c.execute(sql)
#     db.commit()

In [ ]:
# -- MySQL Workbench Forward Engineering

# SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
# SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
# SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

# -- -----------------------------------------------------
# -- Schema youtube_db
# -- -----------------------------------------------------

# -- -----------------------------------------------------
# -- Schema youtube_db
# -- -----------------------------------------------------
# CREATE SCHEMA IF NOT EXISTS `youtube_db` DEFAULT CHARACTER SET utf8 ;
# USE `youtube_db` ;

# -- -----------------------------------------------------
# -- Table `youtube_db`.`country`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `youtube_db`.`country` (
#   `id_country` INT NOT NULL AUTO_INCREMENT,
#   `country` VARCHAR(45) NULL,
#   `country_code` VARCHAR(45) NULL,
#   `gross_tertiary_education_enrollment` DECIMAL(2) NULL,
#   `population` INT NULL,
#   `unemployment_rate` DECIMAL(2) NULL,
#   `urban_population` INT NULL,
#   `latitude` DECIMAL(10,8) NULL,
#   `longitude` DECIMAL(11,8) NULL,
#   PRIMARY KEY (`id_country`))
# ENGINE = InnoDB;


# -- -----------------------------------------------------
# -- Table `youtube_db`.`category`
# -- -----------------------------------------------------
# CREATE TABLE IF NOT EXISTS `youtube_db`.`category` (
#   `id_category` INT NOT NULL AUTO_INCREMENT,
#   `category` VARCHAR(45) NOT NULL,
#   `mean_number_subscribers` INT NULL,
#   `mean_numbers_views` INT NULL,
#   `popularity_rating` DECIMAL(2) NULL,
#   PRIMARY KEY (`id_category`, `category`))
# ENGINE = InnoDB;


# SET SQL_MODE=@OLD_SQL_MODE;
# SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
# # SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;